.single {
  display: flex;
  width: 100%;
  .singleContainer {
    flex: 6;

    .top {
      padding: 20px;
      display: flex;
      gap: 20px;

      .left {
        flex: 1;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        padding: 20px;
        position: relative;

        .editButton {
          position: absolute;
          top: 0;
          right: 0;
          padding: 5px;
          font-size: 12px;
          color: #7451f8;
          background-color: #7551f818;
          cursor: pointer;
          border-radius: 0px 0px 0px 5px;
        }

        .item {
          display: flex;
          gap: 20px;

          .itemImg {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
          }

          .details {
            .itemTitle {
              margin-bottom: 10px;
              color: #555;
            }

            .detailItem {
              margin-bottom: 10px;
              font-size: 14px;

              .itemKey {
                font-weight: bold;
                color: gray;
                margin-right: 5px;
              }

              .itemValue {
                font-weight: bold;
                font-size: 20px;
              }
            }
          }
        }
      }

      .right {
        flex: 2;
      }
    }

    .bottom {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 20px;
      margin: 10px 20px;
    }

    .title {
      font-size: 16px;
      color: lightgray;
      margin-bottom: 20px;
    }
  }
  /* Button Basic Style */
.button-update {
  padding: 10px 20px;
  border: none;
  background-color: #007bff; /* Primary color */
  color: white; /* Text color */
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  transition: all 0.3s ease;

  /* Box Shadow for 3D effect */
  box-shadow: 0 5px #0056b3; /* Darker shade of the button color for the shadow */
}

/* Button Hover Effect */
.button-update:hover {
  background-color: #0056b3; /* A slightly darker shade for hover state */
}

/* Button Active/Click Effect */
.button-update:active {
  box-shadow: 0 2px #0056b3; /* Reduce shadow size to give a click effect */
  transform: translateY(3px); /* Slightly move the button down */
}

/* Button Focus Effect */
.button-update:focus {
  outline: none; /* Remove the outline to keep the design clean */
  border: 1px solid #fff; /* Optional: add a subtle border if needed */
}

}
